.dubai-marina-community {
	background: url('/images/communities/dubai-marina.jpeg') no-repeat;
	background-size: cover;
}

.difc-community {
	background: url('/images/communities/difc.jpeg') no-repeat;
	background-size: cover;
}

.downtown-dubai-community {
	background: url('/images/communities/downtown-dubai.jpeg') no-repeat;
	background-size: cover;
}

.jumeirah-lakes-towers-community {
	background: url('/images/communities/jumeirah-lakes-towers.jpeg') no-repeat;
	background-size: cover;
}

.sheikh-zayed-road-community {
	background: url('/images/communities/sheikh-zayed-road.jpeg') no-repeat;
	background-size: cover;
}

.business-bay-community {
	background: url('/images/communities/difc.jpeg') no-repeat;
	background-size: cover;
}

.palm-jumeirah-community {
	background: url('/images/communities/palm-jumeirah.jpeg') no-repeat;
	background-size: cover;
}