
.Communities {
	.ProjectListings {
		padding: 10px 0px !important;
	}
}

.dubai-marina-community {
	background: url('/images/communities/dubai-marina.jpg') no-repeat;
	background-size: cover;
}

.al-barsha-community {
	background: url('/images/communities/al-barsha.jpg') no-repeat;
	background-size: cover;
}

.downtown-dubai-community {
	background: url('/images/communities/downtown-dubai.jpg') no-repeat;
	background-size: cover;
}

.jumeirah-lakes-towers-community {
	background: url('/images/communities/jumeirah-lakes-towers.png') no-repeat;
	background-size: cover;
}

.sheikh-zayed-road-community {
	background: url('/images/communities/sheikh-zayed-road.jpeg') no-repeat;
	background-size: cover;
}

.business-bay-community {
	background: url('/images/communities/business-bay.jpg') no-repeat;
	background-size: cover;
}

.palm-jumeirah-community {
	background: url('/images/communities/palm-jumeirah.png') no-repeat;
	background-size: cover;
}