.Project__carousel--container {
    display: flex;
	position: relative;
    align-items: center;
    justify-content: space-between;
}

.Project__carousel {
	img {
	    width: 100%;
	    height: auto;
	    display: block;
	}
	.owl-item {
		margin: 0 !important;
	}
}

.Project__carousel--nav {
	width: 100%;
	display: flex;
	padding: 0 15px;
	position: absolute;
	align-items: center;
	justify-content: space-between;

	a {
	    color: white;
		font-size: 8rem;
		cursor: pointer;
	    font-weight: normal;
	}
}

.Project__title {
	a {
		color: #636b6f;
	}
}

.Project__description {
	h3 {
		font-size: 30px;
		font-weight: 300;
		&:first-child {
			margin-top: 0;
			margin-bottom: 30px;
		}
		margin: 30px 0px;
	}
}

.RelatedProjects {
	h3 {
		font-weight: 300;
	}
	.Project__title {
		font-size: 17px;
		a {
			color: #333;
		}
	}
}

.Inquiry {

}

.Inquiry__title {
	font-size: 30px;
	font-weight: 300;
}