.ProjectListings__title {
	// margin: 30px 10px;
}

.ProjectListings {
	padding: 40px 0px;
}

.ProjectListing {
	margin-bottom: 30px;
}

.ProjectListing__image {
	position: relative;
}

.ProjectListing__developer {
	bottom: -30px;
	right: 10px;
	position: absolute;
}

.ProjectListing__description {
    padding: 15px;
	background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    h4 {
    	margin: 0;
    	width: 80%;
    }
	a {
		color: #333;
		font-size: 16px;
		font-weight: 400;
	}
}